.subject-card {
    border: 1px solid rgb(181, 181, 181);
    background-color: rgb(126, 94, 5);
    color: white;
    box-shadow: none;
    transition: box-shadow .2s;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -ms-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;

    h5 {
        margin: 0px;
        padding: .5em;
        display: block;
        text-align: left;
        background-color: rgb(2, 148, 0);
    }
}
.subject-card:hover {
    box-shadow: 0px 0px 10px #aaa;
    cursor: pointer;
}


