
.login-form {
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding: 30px;
    width: 40%;
    min-width: 600px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: rgb(187, 228, 205);

    font-size: 14pt;

    .form-item {
        display: block;
        margin: 10px;
    }

    label {
        display: inline-block;
        width: 120px;
    }

    input {
        margin: 0px 10px;
    }
}