
.login-form {
    font-size: 14pt;

    .form-item {
        display: block;
        margin: 10px;
    }

    label {
        display: inline-block;
        width: 120px;
    }

    input {
        margin: 0px 10px;
    }
    
    a {
        color: black;
    }
}